/*NAVIGATION*/

nav {
  width:76.45%;
  float:left;
  margin-bottom:0;
  padding-bottom:0;
  position:absolute;
  bottom:0;
  right:0;
}


div#navigation {
  padding:0;
  margin:0 0 3px 0;
  float:right;
  display:block;
}

#navigation a {
  text-decoration: none;
  float:left;
  margin:0 .6em 10px 0;
  padding:0em .3em;
  display:list-item;
  list-style:none;
  box-sizing: border-box;

  font-weight: bold;
  text-indent:0;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #181c1f;
  transition: color 250ms ease-in, border 250ms ease-in;
}

#navigation a:last-child {
  margin-right:0;
}

#navigation a:hover {
  border-bottom: 2px solid #FFC904;
  margin-bottom:8px;
  color:#FFC904;
}

#navigation a:active {
  position:relative;
  top:1px;
}


nav #icons {
  float:right;
  width:15%;
  height:auto;
  position:relative;
  display:block;
  margin: 0 0 0 2%;
  padding: 0;
  min-width:5em;
}

nav img {
  width: 29%;
  margin-left:1%;
}

nav img:hover {
  position:relative;
  bottom:1px; }


.icon {
  width:32px;
  height:auto;
  position: relative;
  display:inline-block;
  margin: 0 8px 0 0;
  bottom:-9px;
}

.icon-small {
  width:1.1em;
  margin-right:.5em;
  position:relative;
  float:left;
}