@import "base";

.slide {
  width: 100%;
  height:450px;
  margin:0;
  background:#181c1f;
  position:relative;
  border-radius:6px 6px 0 0;
  background-repeat:no-repeat;
  background:url('../images/launch.jpg');
  background-position: center;
  background-size: cover;
  @include page-width;
}

.slide p {
  width:100%;
  @include page-width;
  font-size:1.4em;
  line-height:1.3;
  color:#F5F3EB;
  padding: 2% 8% 2% 3%;
  box-sizing: border-box;

  /*	padding: 1em 4em 1em 1em;
  //*/
  //display:inline-block;
  //float:left;
}

.slide-content {
  //@include page-width;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  margin:0;
  box-sizing: border-box;
  background:rgba(6, 49, 84, .7);
}

// Background Images

#aboutpage {
  background:url('../images/florida-space.jpg');
  background-position: center;
  background-size: cover;
}

#membershippage {
  background:url('../images/astronaut-moon.jpg');
  background-size:100%;
  background-position: 0% 45%;
  background-repeat: no-repeat;
  background-size:cover;
}

#projectpage {
  background:url('../images/team-rocket.jpg');
  background-size:100%;
  background-position: 0% 25%;
  background-repeat: no-repeat;
}

#starman {
  background:url('../images/starman_roadster.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  /*background-size: cover;*/

}
@media (max-width: 758px) {
  #starman {
    background-size: 200%;
    height: 300px;
  }
}
