/* COLOR SCHEME

	Orange stuff: #ff8300
	Light Blue: #1C65A1
	Dark blue: #063154
	Dark grey: #181c1f
	Light grey: #ced1cc;
	Yellow (UCF gold): #FFC904;

*/

//Colors
$background:  #063154;
$light-background: #f5f5f5;
$dark-background: #181c1f;
$primary: #ffc904;
$accent: #ff8300;
$light-accent: #1c65A1;
$gray: #ddd;

// Page sizing
$max-width: 1080px;

// Text
$line-height: 1.7;

// Mixins
@mixin page-width {
  width: $max-width;
  max-width: 100%;
  margin: auto;
}

@mixin transition {
  transition: all .2s ease-in-out;
}

//
// Breakpoints
//
@mixin breakpoint($size) {
  @if $size == xs {
    @media (max-width: 37.5em)  { @content ; }
  }
  @else if $size == sm {
    @media (max-width: 37.5em)  { @content ; }
  }
  @else if $size == md {
    @media (max-width: 50em) { @content ; }
  }
  @else if $size == lg {
    @media (max-width: 64em) { @content ; }
  }
  @else if $size == xl {
    @media (max-width: 70em) { @content ; }
  }

}

// Utils
.fluid {
  width: 100%;
  margin: 0;
}