/*NAVIGATION*/
@import "base";


nav {
  width:76.45%;
  float:left;
  margin-bottom:0;
  padding-bottom:0;
  position:absolute;
  bottom:0;
  right:0;

  @include breakpoint(sm) {
    position:relative;
    width:100%;
    float:left;
    margin:0;
    }
}


#navigation, #nav-icon {
  padding:0;
  margin:0 0 3px 0;
  float:right;
  display:block;

  @include breakpoint(sm) {
    float:left;
    width:65%;
    padding: 0;
  }
}

#nav-icon {
  text-align: left;
  background: inherit;
  border: none;
  padding: .3em;
}

.nav-link {
  text-decoration: none;
  float: left;
  margin: 0 .6em 10px 0;
  padding: 0 .3em;
  display: list-item;
  list-style: none;
  box-sizing: border-box;

  text-indent: 0;
  color: white;
  font-size: 1.18em;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #181c1f;
  @include transition;
  transition: border 250ms ease;

  &:last-child {
    margin-right: 1px;
  }

  &:hover {
    border-bottom: 2px solid $primary;
    margin-bottom: 8px;
    color: $primary;
  }

  &:active {
    position: relative;
    top: 1px;
  }

  @include breakpoint(md) {
    font-size: 1em;
  }

  @include breakpoint(sm) {
    width:100%;
    border-bottom: 2px solid white;
    margin: 0;

    &:hover {
      margin-bottom: 0;
    }
  }
}

.active {
  color: $primary;
  border-bottom-color: $primary;
}

nav #icons {
  float: right;
  width: 15%;
  height: auto;
  position: relative;
  display: block;
  margin: 0 0 0 2%;
  padding: 0;
  min-width: 5em;

  @include breakpoint(sm) {
    margin: 0;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    box-sizing: border-box;
    padding-left: 3%;
  }
}

nav img {
  width: 29%;
  margin-left:1%;
}

nav img:hover {
  position:relative;
  bottom:1px; }


.icon {
  width:32px;
  height:auto;
  position: relative;
  display:inline-block;
  margin: 0 8px 0 0;
  bottom:-9px;
}

.icon-small {
  width:1.1em;
  margin-right:.5em;
  position:relative;
  float:left;
}

#icons img {
  @include breakpoint(sm) {
    min-width:29%;
    margin:0;
    display:inline-block;
  }
}

//
// Responsive
//
nav #nav-icon {
  display: none;

  @include breakpoint(sm) {
    display: inline-block;
    //float: right;
  }
}